@import "../../../node_modules/jspivottable/css/common";
@import "../../../node_modules/jspivottable/css/grid";
@import "../../../node_modules/jspivottable/css/pivot";
@import "../../../node_modules/jspivottable/css/winrect";

.gx-query-viewer-pivot-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

gx-query-viewer-pivot {
  display: contents;
}

.pivot_filter_div,
.pivot_title_div {
  width: 100%;
}
