@import "../../common/base-mixins";

@include box-sizing();

:host {
  --gx-query-viewer-card-sparkline-color: currentColor;
  display: grid;
  grid-template-areas: "value trend" "title ." "values-container .";
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content min-content;
}

:host(.gx-query-viewer-card-include-sparkline) {
  grid-template-areas: "value ." "title ." "sparkline trend" "values-container .";
  grid-template-rows: min-content min-content min-content min-content;
}

:host {
  text-align: center;
}

.value {
  grid-area: value;
  font-size: 2.75em;
}

.title {
  grid-area: title;
  font-size: 0.875em;
}

.card-sparkline {
  grid-area: sparkline;
  position: relative;
  display: flex;
  justify-content: center;
}

.trend {
  grid-area: trend;
  padding-top: 25px;
}

// - - - - - - - - - - - - - - - -
//           Min and max
// - - - - - - - - - - - - - - - -
.values-container {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-area: values-container;
  justify-content: center;
  column-gap: 1.25em;
  row-gap: 0.125em;
}

.max-min-title {
  font-size: 0.75em;
}

.max-min-value {
  font-size: 1.125em;
}
