@import "../../../common/base-mixins";
@import "../../../global/variables";

@include box-sizing();

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

:host {
  background-color: var(--gx-background-color);
  display: block;
  font-family: var(--gx-font-family);
  overflow: hidden;
  position: relative;
  transition: var(--gx-transition);
  width: var(--menu-width-open);
}

:host([is-collapsed]) {
  width: var(--menu-width-collapsed);

  &::part(query-menu__sidebar) {
    visibility: hidden;
  }
  .new-chat-btn {
    display: none;
  }
}

:host::part(query-menu__wrap) {
  position: relative;
}

:host::part(query-menu__sidebar) {
  // align-items: center;
  // box-sizing: border-box;
  // display: flex;
  height: calc(100vh - var(--menu-footer-height));
  // justify-content: center;
  overflow-y: auto;
}

:host::part(query-menu__subtitle) {
  padding: var(--gx-space-small) var(--gx-space-medium);
  // font-size: 1.2em;
  margin: 0;
}

:host::part(query-menu__title) {
}

:host::part(query-menu__list) {
  width: 100%;
}

:host::part(query-menu__footer) {
  height: var(--menu-footer-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-btn--expand {
  transform: rotate(180deg);
  padding: var(--gx-space-medium);
}
.sidebar-btn--collapse {
  padding: var(--gx-space-medium);
}

.new-chat-btn {
  padding: var(--gx-space-medium);
}

.loading-backdrop {
  position: absolute;
  background-color: var(--gx-backdrop-color);
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
}

// Scroll
::-webkit-scrollbar {
  width: var(--gx-scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gx-scrollbar-color-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gx-scrollbar-color-thumb);
  &:hover {
    background: var(--gx-scrollbar-color-thumb_hover);
  }
}
