:host {
  // --gx-primary-color: #000000;
  // --gx-accent-color: #696ef2;
  // --gx-white-color: #fff;
  // --gx-neutral-color: #555;
  // --neutral-100: #f1f1f1;
  // --neutral-300: #888;
  // --neutral-500: #555;

  --gx-text-color: #121212;
  --gx-background-color: #ffffff;

  --gx-text-accent-color: #ffffff;

  --gx-background-accent-color: #696ef2;
  --gx-background-hover-color: #696ef21a;

  --gx-scrollbar-track-color: #f1f1f1;
  --gx-scrollbar-thumb-color: #888;
  --gx-scrollbar-thumb_hover-color: #555;

  --gx-backdrop-color: #ffffff80;
}
