:host {
  --gx-space-large: 0.8em;
  --gx-space-medium: 0.5em;
  --gx-space-small: 0.3em;

  --gx-scrollbar-width: 10px;

  --gx-z-index-float: 10;

  --gx-header-height: 40px;

  --gx-input-height: 2rem;

  --gx-control-btn-height: 40px;
  --gx-control-btn-width: 30px;
}
