:host {
  --gx-text-color: #121212;
  --gx-background-color: #ffffff;

  --gx-border-color: #f1f1f1;

  --gx-text-accent-color: #ffffff;

  --gx-background-accent-color: #696ef2;
  --gx-background-hover-color: #696ef21a;

  --gx-message-user-color: #f1f1f1;
  --gx-message-assistant-color: #fff;

  --gx-scrollbar-track-color: #f1f1f1;
  --gx-scrollbar-thumb-color: #888;
  --gx-scrollbar-thumb_hover-color: #555;

  --gx-backdrop-color: #ffffff80;

  --gx-shadow-md: 2px 2px 8px #0000006c;
}
