:host {
  // Colors
  --primary-color: #696ef2;
  --secondary-color: #bdbdbd;
  --neutral-100: #f1f1f1;
  --neutral-300: #888;
  --neutral-500: #555;

  --gx-menu-item-active-color: rgba(105, 110, 242, 0.3);
  --gx-menu-item-hover-color: rgba(105, 110, 242, 0.1);

  --gx-backdrop-color: #ffffff80;

  --gx-font-family: "Source Sans Pro", sans-serif;
  --gx-font-size: 1rem;
  --gx-line-height: 1.4rem;
  --gx-background-color: #ffffff;
  --gx-header-font-color: #000000;
  --gx-header-height: 40px;
  --gx-header-font-size: 1.2em;
  --gx-header-border: 1px solid var(--secondary-color);
  --gx-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);

  --gx-scrollbar-width: 10px;
  --gx-scrollbar-color-track: var(--neutral-100);
  --gx-scrollbar-color-thumb: var(--neutral-300);
  --gx-scrollbar-color-thumb_hover: var(--neutral-500);
  --gx-border-radius: 10px;
  --gx-space-medium: 0.5em;
  --gx-space-small: 0.3em;
  --gx-transition: 0.25s all ease;

  --gx-button-size: 18px;
  --gx-controls-width: 60px;

  --gx-sidebar-expanded: 300px default;
  --gx-sidebar-collapsed: 40px default;

  --chat-box-width: 400px;
  --chat-box-margin: 1rem;

  --chat-message-assistant-bg-color: var(--neutral-100);
  --chat-message-user-bg-color: #ffffff;

  --chat-question-border: 1px solid var(--neutral-500);

  --chat-header-bg-color-minimize: #000000;
  --chat-header-font-color-minimize: #ffffff;
}
