@import "../../../common/base-mixins";
@import "../../../global/variables";

@include box-sizing();

:host {
  flex: 1 1 0%;

  background-color: var(--gx-background-color);
  border-radius: var(--gx-border-radius);
  box-shadow: var(--gx-box-shadow);
  font-family: var(--gx-font-family);
  margin: var(--gx-space-medium);
}

:host::part(query-viewer__header) {
  align-items: center;
  border-bottom: var(--gx-header-border);
  color: var(--gx-header-font-color);
  display: flex;
  font-size: var(--gx-header-font-size);
  height: var(--gx-header-height);
  justify-content: space-between;
  line-height: var(--gx-header-height);
  margin: 0;
  padding: 0 var(--gx-space-medium);
  position: relative;
  width: 100%;
}

:host::part(query-viewer__title) {
  flex: 1;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

:host::part(query-viewer__controls) {
  display: flex;
}

.dropdown {
  position: relative;
  & button {
    cursor: pointer;
  }
  &.active .dropdown-menu {
    display: block;
  }
  &.active [data-toggle="dropdown"]::after {
    transform: rotate(180deg);
  }
}

.control-item {
  height: 100%;
  overflow: hidden;
  border: 0;
  background: none;
  padding: 0 var(--gx-space-medium);
  display: flex;
  align-items: center;
  color: var(--primary-color);

  &[disabled] {
    color: var(--neutral-300);
  }
  &[data-toggle="dropdown"]::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("./assets/chevron.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.25s ease;
  }
}

.dropdown-menu {
  background-color: var(--gx-background-color);
  box-shadow: var(--gx-box-shadow);
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: var(--gx-header-height);
  right: 0;
  z-index: 100;
  & li {
    list-style: none;
    margin: 0;
  }
}

.dropdown-menu__item {
  align-items: center;
  background-color: var(--gx-background-color);
  border: 0;
  display: flex;
  padding: var(--gx-space-medium);
  white-space: nowrap;
  gap: 0.5em;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("./assets/img.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.dropdown-menu__item:not([disabled]):hover {
  background-color: var(--neutral-100);
}
.dropdown-menu__item--jpg::before {
  background-image: url("./assets/img.svg");
}
.dropdown-menu__item--pdf::before {
  background-image: url("./assets/file.svg");
}

.viewer {
  display: grid;
  height: calc(100% - var(--gx-header-height));
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  position: relative;
}

.viewer-message {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0.5em;
}
.viewer-message--none {
  background-color: azure;
}
.viewer-message--danger {
  background-color: pink;
}
