@import "../../../common/base-mixins";
@import "../../../global/variables";

@include box-sizing();

:host {
  flex: 1 1 0%;

  background-color: var(--gx-background-color);
  border-radius: var(--gx-border-radius);
  box-shadow: var(--gx-box-shadow);
  font-family: var(--gx-font-family);
  margin: var(--gx-space-medium);
}

:host::part(query-viewer__header) {
  align-items: center;
  border-bottom: var(--gx-header-border);
  color: var(--gx-header-font-color);
  display: flex;
  font-size: var(--gx-header-font-size);
  height: var(--gx-header-height);
  justify-content: space-between;
  line-height: var(--gx-header-height);
  margin: 0;
  padding: 0 var(--gx-space-medium);
  position: relative;
  width: 100%;
}

:host::part(query-viewer__title) {
  flex: 1;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

:host::part(query-viewer__controls) {
  display: flex;
  flex-basis: 160px;
}

.viewer {
  display: grid;
  height: calc(100% - var(--gx-header-height));
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  position: relative;
}

.viewer-message {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.5em;
}
.viewer-message--none {
  background-color: beige;
}
.viewer-message--init {
  background-color: azure;
}
.viewer-message--pending {
  background-color: aquamarine;
}

.subtile {
  text-align: center;
  font-style: italic;
}
