@import "../../../node_modules/jspivottable/css/common";
@import "../../../node_modules/jspivottable/css/grid";
@import "../../../node_modules/jspivottable/css/pivot";
@import "../../../node_modules/jspivottable/css/winrect";

#QUERYVIEWER1Container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

gx-query-viewer-table {
  display: contents;
}
